<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAodgIwezINzwYpLGIRuGWdbHOf5NNKWSc</string>
	<key>GCM_SENDER_ID</key>
	<string>119254345887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deliveryApp</string>
	<key>PROJECT_ID</key>
	<string>delivery-app-726d1</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-app-726d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119254345887:ios:7d6623c753116ce2939aaa</string>
</dict>
</plist>